.button {
    -fx-background-color: green;
    -fx-text-fill: white;
    -fx-background-radius: 24;
    -fx-font-size: 24px;
}
.button:hover {
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
    -fx-cursor: hand;
}
.button:armed {
    -fx-scale-x: 1.0;
    -fx-scale-y: 1.0;
    -fx-background-color: darkred;
}
.root {
    -fx-background-image: url("background.png");
}




